.jumbotron {
  padding-top: 5rem;
  background-color: #e5dace;
}
#about {
  background-color: #b2b2a2;
}
#projects {
  background-color: #6d7973;
}

#contact {
  background-color: white;
}
footer {
  background-color: #3f3931;
  color: white;
  text-align: center;
  font-size: medium;
  padding-bottom: 5px;
}
section {
  padding-top: 5rem;
}
