.jumbotron {
  padding-top: 5rem;
  background-color: #e5dace;
}
#about {
  background-color: #fff;
}
#projects {
  background-color: #b2b2a2;
}

#contact {
  background-color: #a2aab0;
}
footer {
  background-color: #ebeced;
  text-align: center;
  font-size: medium;
  padding-bottom: 5px;
}
section {
  padding-top: 5rem;
}
/* gallery */
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
